# PHP
alias a="php artisan"
alias c="composer"
alias cu="composer update"
alias cr="composer require"
alias ci="composer install"
alias cda="composer dump-autoload -o"
alias mfs='php artisan migrate:fresh --seed'

# PhpStorm
alias phpstorm='open -a /Applications/PhpStorm.app "`pwd`"'

# Redis
alias flush-redis="redis-cli FLUSHALL"

# Show/hide hidden files in Finder
alias show="defaults write com.apple.finder AppleShowAllFiles -bool true && killall Finder"
alias hide="defaults write com.apple.finder AppleShowAllFiles -bool false && killall Finder"

# Flush Directory Service cache
alias flushdns="sudo dscacheutil -flushcache; sudo killall -HUP mDNSResponder"
